#gameboy_shell {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  width: 256px;
  min-height: 256px;
  min-width: 256px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 4px;
  box-shadow: inset -15px 16px 6px -12px rgba(255,255,255, 0.5), inset 15px -11px 6px -11px rgba(0,0,0,0.5);
}

#on_off {
  margin-left: 10%;
  font-size: 10pt;
  text-shadow: 0px 0px 2px #000;
}

#screen_cover {
  background-color: #525E59;
  width: 165px;
  height: 165px;
  margin: 0 auto;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}



#canvas_container {
  width: 160px;
  height: 144px;
  margin: 20px auto 0 auto;
}

#screen_cover > div:last-child {
  position: relative;
  left: 15%;
  width: 120px;
  font-size: 10pt;
  text-align: center;
  color: white;
  font-style: oblique;
}

#pocket {
  color: #525E59;
  background-color: white;
  font-size: 8pt;
}

#nintendo {
  top:0px;
  border-radius: 14px;
  width: 21%;
  height: 4.75%;
  text-align: center;
  margin: 12px auto 0 auto;
  padding: 0px;
  
  font-size: 9pt;
  text-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 2px #000;
}

#d_pad {
  width: 70px;
  height: 70px;
  position: relative;
 top: -30px;
  left: 2%;
}

#d_pad > div {
  background-color: #525E59;
}

#d_pad_up {
  box-shadow: inset -15px 10px 10px -12px rgba(255,255,255, 0.5), inset 15px -11px 6px -11px rgba(0,0,0,0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 33%;
  height: 33%;
  margin: 0 auto;
}

#d_pad_left_right {
  box-shadow: inset -15px 10px 10px -12px rgba(255,255,255, 0.5), inset 15px -11px 6px -11px rgba(0,0,0,0.5);
  border-radius: 5px;
  height: 33%;
  margin: 0 auto;
}

#d_pad_down {
  box-shadow: inset -15px 10px 10px -12px rgba(255,255,255, 0.5), inset 15px -11px 6px -11px rgba(0,0,0,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 33%;
  height: 33%;
  margin: 0 auto;
}

#d_pad_left {
  width: 33%;
  height: 100%;
  float: left;
}

#d_pad_center {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  margin: 0 auto;
  border-radius: 20px;
  /*box-shadow: inset 5px -5px 6px 0px rgba(255,255,255, 0.5);*/
  box-shadow: inset -15px 10px 10px -12px rgba(0,0,0, 0.5), inset 15px -11px 6px -11px rgba(255,255,255,0.5);
}

#d_pad_right {
  width: 33%;
  height: 100%;
  float: right;
}

#arrow_up, #arrow_down, #arrow_left, #arrow_right {
  width: 0;
  height: 0;
  margin: 0 auto;
}

#arrow_up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
}

#arrow_left {
  border-top: 10px solid transparent;
  border-right: 20px solid black;
  border-bottom: 10px solid transparent;
}

#arrow_right {
  border-left: 20px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#arrow_down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
}

#a_button_group {
  width:40px;
  height:80px;
  position:relative;
  left: 81%;
  top: -39%;
}

#b_button_group {
  width:40px;
  height:80px;
  position:relative;
  left: 69%;
  top: -56%;
}

#select_button_group {
  width:50px;
  height:25px;
  position:relative;
  left: 50%;
  bottom: 80%;
}

#start_button_group {
  width:50px;
  height:25px;
  position:relative;
  left: 30%;
  bottom: 89%
}

.button_group {
  position: absolute;
  text-align: center;
  color: #525E59;
  font-size: 10pt;
}

.button_group div {
  width: 40px;
  background-color: #525E59;
  border-radius: 20px;
  margin: 0 auto 10px auto;
  box-shadow: inset -15px 10px 10px -12px rgba(255,255,255, 0.5), inset 15px -11px 6px -11px rgba(0,0,0,0.5);
}

.button_group .round_button {
  height: 40px;
}

.button_group .flat_button {
  height: 15px;
}



