.button {  
  color: #1F1F4F;
  background-color: #AAAA66;
border-radius: 18px;
  text-align: center;
  margin: 12px auto 0 auto;
  padding: 2px;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 2px #000;
}
.buttonRight {  
  color: #9F9F9F;
  background-color: #862000;
border-radius: 18px;
  text-align: center;
  margin: 12px auto 0 auto;
  padding: 2px;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 4px #000;

}
#File {  
  color: #9F9F9F;
  background-color: #862000;
  width: 95%;
border-radius: 14px;
  text-align: center;
  margin: 12px auto 0 auto;
  padding: 0px;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 4px #000;

}
input[type=file]::file-selector-button {
  color: #1F1F4F;
  background-color: #AAAA66;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 4px #000;

}
select {
  color: #1F1F4F;
  background-color: #AAAA66;
border-radius: 14px;
  text-align: center;
  margin: 12px auto 0 auto;
  padding: 0px;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 1px #000;

}
textarea {  
  height: 13px;
  border-color:#000000;
  border: 2px;
  background-color: #AAA666;
  color: #1F1F4F;
  font-size: 11px;
  resize: none;
  top:0px;
  border-radius: 17px;
  text-align: center;
  margin: 12px auto 0 auto;
  padding: 0px;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 4px #000;
}
canvas {
display: block;
margin-left: auto;
margin-right: auto;
}
.div {
  border-color:#000000;
  border: 2px;
  background-color: #666666;
  color: #AFBF9F;
  top:0px;
  border-radius: 16px;
  margin: 12px auto 0 auto;
  padding: 4px;
  box-shadow: 0px 0px 2px #000, inset 0px 0px 2px #000;

}
#roomedit {
top:15px
}
